@page
@model WebApplicationHW1.Pages.Registration.DeleteModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Delete";

    Layout = "_DashboardStudent";
}


<div class="container-fluid ms-4">
    <div class="row">
        <div class="col-md-12 main">
            <center><h2 class="m-2">Drop Course</h2></center>
        </div>
        <hr />
    </div>
    <h5>Are you sure you want to drop this course?</h5>
    <div>

        <form method="post">
            <input type="hidden" asp-for="Course.CourseID" />
            <input type="submit" value="Drop" class="btn btn-danger" /> |
            <a asp-page="ClassRegister" asp-route-id="@Int32.Parse(HttpContext.Session.GetString("UserId"))">Back to Registration</a>
        </form>
    </div>
</div>
