@page
@model WebApplicationHW1.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<center><h2>Create an Account</h2></center>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4 ">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserInfo.FirstName" class="control-label">First Name</label>
                <input asp-for="UserInfo.FirstName" class="form-control" />
                <span asp-validation-for="UserInfo.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInfo.LastName" class="control-label">Last Name</label>
                <input asp-for="UserInfo.LastName" class="form-control" />
                <span asp-validation-for="UserInfo.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInfo.EmailAddress" class="control-label">Email Address</label>
                <input asp-for="UserInfo.EmailAddress" class="form-control" />
                <span asp-validation-for="UserInfo.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInfo.Password" class="control-label">Password</label>
                <input asp-for="UserInfo.Password" class="form-control" />
                <span asp-validation-for="UserInfo.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInfo.ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="UserInfo.ConfirmPassword" class="form-control" />
                <span asp-validation-for="UserInfo.ConfirmPassword" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="UserInfo.BirthDate" class="control-label">Date of Birth</label>
                <input asp-for="UserInfo.BirthDate" class="form-control" />
                <span asp-validation-for="UserInfo.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">

                @foreach(var item in Html.GetEnumSelectList<Models.AccountType>())
                {
                    
                    @item.Text<input class="form-control" type="radio" asp-for="UserInfo.AccountType" value="@item.Text"/>
                }

                <span asp-validation-for="UserInfo.AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
