@page
@model WebApplicationHW1.Pages.Forms.SignedInModel
@{
    ViewData["Title"] = "Logged In";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</div>
<div class="container">
    <table class="table table-bordered w-auto bg-info">
        <thead>
            <tr class="text-dark">
                <th>Student Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="" class="text-dark">Dashboard</a></td>
            </tr>
            <tr>
                <td><a href="" class="text-dark">Course List</a></td>
            </tr>
            <tr>
                <td><a href="" class="text-dark">Calendar</a></td>
            </tr>
            <tr>
                <td><a href="" class="text-dark">Inbox</a></td>
            </tr>
            <tr>
                <td><a href="" class="text-dark">Help</a></td>
            </tr>
            <tr>
                <td><a href="" class="text-dark">Log Out</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card w-100">
    <div class="container">
        <h4><b>Course Number</b></h4>
        <p>Course Name</p>
    </div>
</div>
