@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<center>
    <h4>Summer Semester 2021</h4> <br />
    Professor Arpit Christi<br />
</center>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4 text-center mt-5 mb-5">
        <h1 class="mt-2">Team Members</h1>
        Aubrey Davidson <br />
        Andre Marshall <br />
        Cole Smith <br />
        Travis Viall<br />
        Jamison Wilkes<br />
    </div>
</div>
<hr />
