@page
@model WebApplicationHW1.Pages.PaymentFailedModel
@{
    Layout = "_DashboardStudent";
}

<div class="container-fluid ms-4">
    <div class="row">
        <div class="col-md-12 main">
            <center><h2 class="m-2">Pay Tuition</h2></center>
        </div>
        <hr />
    </div>
    <center><h4 class="m-2" style="color: red;">Payment Failed.  Please try again.</h4></center>
</div>